/* Add CSS for the background image */
body {
    background-image: url('/Users/maya/bootcamp/FullStack-Tech-Blog/Images/D4007AEC-FEC1-4F38-AD72-AF39F3488EA7.JPG');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 100vh; 
    display: flex;
  }
  
   /* Style for the header links */
  .header-links li {
    list-style: none;
    display: inline;
    margin-right: 10px;
  }
  
  .header-links a {
    text-decoration: none; 
    text-align: center;
    color: black; 
    font-family: 'Exo 2', sans-serif; 
    font-size: 25px;
    margin-left: 50px;
  }
  

  
  
  /* Style for the header */
  header {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    background-color: rgba(255, 255, 255, 0.5); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  /* Style for the VANMosaic text */
  h1 {
    font-family: 'Overpass', sans-serif; 
    font-weight: 100;
  }
  
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 20, 
      'opsz' 25px;
  }
 /* Style for the login navbar */
.login-navbar {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%; /* Move it to the vertical center */
  left: 50%; /* Move it to the horizontal center */
  transform: translate(-50%, -50%); /* Center it precisely */
  width: 300px; /* Increase the width as needed */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s; /* Add a smooth background color transition */
}

/* Style for the navbar links */
.navbar-links {
  list-style: none;
  padding: 0;
}

.navbar-links li {
  margin: 0;
  padding: 0;
}

.navbar-links a {
  display: block;
  padding: 15px 30px; /* Increase padding for larger size */
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px; /* Increase font size */
  transition: background-color 0.3s; /* Add a smooth background color transition */
  background-color: #eee; /* Solid display block behind the links */
  border-radius: 5px; /* Add some border radius for a rounded look */
  margin-bottom: 10px; /* Add spacing between links */
}

.navbar-links a:hover {
  background-color: #ddd; /* Hover background color */
}
